p{
    font-family: 'Times New Roman', Times, serif;
}
.flex-header{
    /*background-color:#e8e6e1;*/
    text-align: center;
    color: black;
    padding: 10px;
}
.flex-intro{
     text-align: center;
     padding-top: 10px;
     font-family:'Times New Roman', Times, serif;
}
.style-name{
    /*font-family:'Trebuchet MS', sans-serif;*/
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold !important;
    
}
.pos-f-t{
    
    color: white;
    background-color: white;
}
.intro-owner{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px;
}
    
.position-fixed{
    text-align: center;
    padding: 10px;
}

.social-panel{
    background-color:#e9ecf0;
}
.city-collage{
    height: 500px;
}
.footer-panel
{
    background-color: black;
    color: white;
    /*height: 400px;*/
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: justify;
}
.footer-heading{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.footer-content{
    text-align: justify;
    font-size: 15px;
    color: white;
}
.social-icon
{
    font-size: 30px;
    color: orange;
    padding: 15px;
}
a{
    text-decoration: none !important;
    color: black !important;
}
.hosted-panel{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.login-panel{
    text-align: center;
    padding-top:100px;
    color: black !important;

}
.placeicon {
    font-family: fontawesome
}

.custom-control-label::before {
    background-color: #dee2e6;
    border: #dee2e6
}



